/*--------------------------------------------------------------
CSS Reset
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

/*--------------------------------------------------------------
If no grid support, limit width to 50em and center align
--------------------------------------------------------------*/
@supports not (display: grid) {
  .status-control,
  .permit,
  .movable {
    max-width: 50em;
    margin: 0 auto;
  }
}

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
@supports (display: grid) {
  @media screen and (min-width: 800px) {

    .site {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "header header"
        "status-control status-control"
        "permit permit"
        "movable movable";
    }

    .status {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-area: status;
    }

    .control {
      display: grid;
      grid-template-columns: 3fr 1fr 2fr;
      grid-area: control;
    }

    .summary {
      display: grid;
      grid-template-columns: 3fr 2fr 1fr;
      grid-area: summary;
    }

    header {
      grid-area: header;
    }

    .status-control {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 3fr 3fr 3fr 1fr;
      grid-template-areas:
        "header header"
        "status status"
        "control control"
        "summary summary";
      display: grid; 
      grid-area: status-control;
    }

    .permit {
      grid-area: permit;
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .permit-heading {
      grid-area: permit-heading;
    }

    .movable {
      grid-area: movable;
    }

    .reading {
      justify-self: center;
    }
  }

  @media screen and (min-width: 1200px) {
    .site {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
        "header header header"
        "status-control status-control status-control"
        "permit permit movable"; 
    }

    .status-control {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 3fr 3fr 1fr;
      grid-template-areas:
        "header header header"
        "status . control"
        "summary summary summary";
    }

    .summary {
      grid-template-columns: 1fr 4fr 1fr;
    }
  }
}

/*--------------------------------------------------------------
Styles
--------------------------------------------------------------*/
body {
  background-color: black;
  color: white;
}

ul {
  list-style-type: none;
}

.heading {
  background-color: lightskyblue;
  border-color: white;
  color: black;
  padding: 0.25em 0.5em;
  border-style: solid;
  border-width: thin;
}

.control > .reading {
  background-color: white;
  width: 100%;
}